<!DOCTYPE html>
<html lang=en>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body style="background-color:rgb(240, 140, 140);">

    <nav>
      <a href="/" class="btn btn-dark"><span>Back to Home</span></a>

      <!-- responsive-->
      <a href="/topoffend" class="btn btn-info">Click for Values 10 or Higher</a>
      <a href="/cities" class="btn btn-info">Click for 100 Cities Home</a>
      <a href="/refresh" class= "btn btn-info">Click to get latest data from OpenAq</a>
      
    </nav>
    <header>
      <div class="container">
        <h1 class="logo">J Wylie's Sprint Challenge Web App</h1>
        <h2>List of records with air quality number at or higher than 10</h2>
        
      </div>
    </header>
    <div class="container">
      {% block content %}
    <ul>
      {% for record in records %}
      <li> UTC-Datetime = {{record.datetime}} :: Value = {{record.value}} </li>
      {% endfor %}

    </ul>
      {% endblock %}
    </div>
  </body>
</html>