<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">J Wylie's Sprint Challenge Web App</h1>
        <h2>List of places with air quality number at or higher than 8</h2>
        
      </div>
    </header>
    <div class="container">
      {% block content %}
    <ul>
      {% for record in records %}
      <li> UTC-Datetime = {{record.datetime}} :: Value = {{record.value}} </li>
      {% endfor %}

    </ul>
      {% endblock %}
    </div>
  </body>
</html>